:root {
  --color-1: #92CCCE;
  --color-2: #445877;
  --color-3: #31343D;
  --main-background-color: #EDEEF7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--main-background-color);
  font-size: 62.5%;
}

/* Header Styles */

header {
  background-color: var(--color-3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  background-color: var(--color-1);
  color: var(--color-3);
  margin: 10px 0;
  padding-left: 75px;
  padding-right: 10px;
  font-size: 3rem;
}

/* Nav Styles */

header nav ul {
  list-style-type: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding-right: 75px;
}

header nav ul li, .contact-info ul li {
  padding: 0 10px;
  border-bottom: 4px solid var(--color-1);
}

header nav ul li a, .contact-info ul li a {
  color: var(--color-1);
  text-decoration: none;
}

/* Hero Styles */

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-color: var(--color-2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner div {
  background-color: var(--color-1);
  margin-right: 75px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.hero-banner div h2 {
  color: var(--color-3);
  font-size: 2rem;
}


/* Main Styles */

.page-wrapper {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 4fr 1fr;
  grid-template-areas: 
    "about"
    "work"
    "contact";
}

/* about section */

#about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "about-me-heading about-me-text";
  gap: 40px;
}

#about-me-heading {
  grid-area: about-me-heading;
  justify-self: end;
  align-self: start;
  font-size: 3.5rem;
  word-wrap: wrap;
  text-align: right;
  color: var(--color-2);
  border-right: 3px solid var(--color-2);
  padding: 0 10px;
}

#about-me-text {
  grid-area: about-me-text;
}

#about-me-text p {
  padding: 6px;
  font-size: 0.8rem;
}

/* work section */

#work {
  grid-area: work;
}

/* contact section */

#contact {
  grid-area: contact;
}


/* 
#work-heading {
  grid-area: work-heading;
}

#portfolio-1 {
  grid-area: portfolio-1;
}

#portfolio-2 {
  grid-area: portfolio-2;
}

#portfolio-3 {
  grid-area: portfolio-3;
}

#portfolio-4 {
  grid-area: portfolio-4;
}

#portfolio-5 {
  grid-area: portfolio-5;
}

#contact-me-heading {
  grid-area: contect-me-heading;
}

#phone-no {
  grid-area: phone-no;
}

#email {
  grid-area: email;
}

#github {
  grid-area: github;
}

#twitter {
  grid-area: twitter;
}

#spotify {
  grid-area: spotify;
} */

/* Contact Section Styles */
.contact-info ul {
  list-style-type: none;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


