:root {
  --color-1: #92CCCE;
  --color-2: #445877;
  --color-3: #31343D;
  --main-background-color: #EDEEF7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--main-background-color)
}

header {
  background-color: var(--color-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


