:root {
  --color-1: #92CCCE;
  --color-2: #445877;
  --color-3: #31343D;
  --main-background-color: #EDEEF7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--main-background-color);
  font-size: 62.5%;
}

/* Header Styles */

header {
  background-color: var(--color-3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  background-color: var(--color-1);
  color: var(--color-3);
  margin: 10px 0;
  padding-left: 75px;
  padding-right: 10px;
  font-size: 3rem;
}

/* Nav Styles */

header nav ul {
  list-style-type: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding-right: 75px;
}

header nav ul li, .contact-info ul li {
  padding: 0 10px;
  border-bottom: 4px solid var(--color-1);
}

header nav ul li a, .contact-info ul li a {
  color: var(--color-1);
  text-decoration: none;
}

/* Hero Styles */

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-color: var(--color-2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner div {
  background-color: var(--color-1);
  margin-right: 75px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.hero-banner div h2 {
  color: var(--color-3);
  font-size: 2rem;
}


/* Main Styles */

.page-wrapper {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 4fr auto;
  grid-template-areas: 
    "about"
    "work"
    "contact";
}

#about-me-heading, #work-heading, #contact-me-heading {
  justify-self: end;
  align-self: start;
  font-size: 3.5rem;
  word-wrap: wrap;
  text-align: right;
  color: var(--color-2);
  border-right: 3px solid var(--color-2);
  padding: 0 10px;
  height: 100%;
}

/* about section */

#about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "about-me-heading about-me-text";
  gap: 40px;
}

#about-me-heading {
  grid-area: about-me-heading;
  
}

#about-me-text {
  grid-area: about-me-text;
}

#about-me-text p {
  padding: 6px;
  font-size: 0.8rem;
}

/* work section */

#work {
  grid-area: work;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: 
    "work-heading portfolio-1 portfolio-1"
    "work-heading portfolio-2 portfolio-3"
    "work-heading portfolio-4 portfolio-5";
  gap: 10px;
  margin: 40px 0;
}

#work-heading {
  grid-area: work-heading;
}

.project-card {
  border: 3px solid var(--color-1);
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-end; */
  position: relative;
}

.project-tile {
  background-color: var(--color-1);
  padding: 8px;
  z-index: 10;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.bg-image:hover {
  /* opacity: 1; */
  filter: brightness(1);
  transition: 0.5s ease-in;
}

.project-card-heading {
  font-size: 1.5rem;
  color: var(--color-2);
}

.project-card-tech {
  font-size: 1rem;
  color: var(--color-2);
}

.bg-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(0.6);
  margin: 0;
}

#portfolio-1 {
  grid-area: portfolio-1;
  height: 50vh;
  position: relative;
}

#portfolio-1-bg-image {
  background-image: url("../images/02-portfolio-4.jpg");
}

#portfolio-2 {
  grid-area: portfolio-2;
  height: 25vh;
}

#portfolio-2-bg-image {
  background-image: url("../images/02-portfolio-1.jpg");
}

#portfolio-3 {
  grid-area: portfolio-3;
  height: 25vh;
}

#portfolio-3-bg-image {
  background-image: url("../images/02-portfolio-2.jpg");
}

#portfolio-4 {
  grid-area: portfolio-4;
  height: 25vh;
}

#portfolio-4-bg-image {
  background-image: url("../images/02-portfolio-3.jpg");
}

#portfolio-5 {
  grid-area: portfolio-5;
  height: 25vh;
}

#portfolio-5-bg-image {
  background-image: url("../images/02-run-buddy.jpg");
}

/* Contact Section Styles */

#contact {
  grid-area: contact;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "contact-me-heading contact-info";
  gap: 40px;
}

#contact-me-heading {
  grid-area: contact-me-heading;
}

.contact-info {
  grid-area: contact-info;}

.contact-info ul {
  list-style-type: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  padding: 0 10px;
  border-bottom: 4px solid var(--color-2);
}

.contact-info ul li a {
  color: var(--color-2);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

@media (max-width: 1000px)  {

  .hero-banner {
    justify-content: center;
  }

  #about {
    grid-template-columns: 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      "about-me-heading"
      "about-me-text";
    gap: 0;
    justify-content: flex-start;
  }
  
  #about-me-heading, #work-heading, #contact-me-heading {
    justify-self: start;
    align-self: start;
    font-size: 3rem;
    word-wrap: no-wrap;
    text-align: left;
    color: var(--color-2);
    border-bottom: 3px solid var(--color-2);
    border-right: none;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
  }

  #work {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto 2fr 1fr 1fr;
    grid-template-areas: 
      "work-heading work-heading"
      "portfolio-1 portfolio-1"
      "portfolio-2 portfolio-3"
      "portfolio-4 portfolio-5";
    gap: 5px;
    margin: 40px 0;
  }

  #contact {
    grid-template-columns: 4fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
      "contact-me-heading"
      "contact-info";
    gap: 0;
  }

  .contact-info ul {
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  .line-break {
    display: none;
  }

}

